:where(.css-dev-only-do-not-override-yp8pcc).ant-card .ant-card-body {
    padding: 0px;
    border-radius: 0 0 8px 8px;
}
.img {
    background-image: linear-gradient(to right, rgba(31.5, 31.5, 94.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 94.5, 0.84) 50%, rgba(31.5, 31.5, 94.5, 0.84) 100%) !important;
}
:where(.css-dev-only-do-not-override-yp8pcc).ant-modal .ant-modal-content {
    background-color:black !important;
    padding: 0px !important;
}
:where(.css-dev-only-do-not-override-yp8pcc).ant-modal .ant-modal-title {
    color:white;
    background-color:black;
    margin-left: 0px;
}
:where(.css-dev-only-do-not-override-yp8pcc).ant-modal .ant-modal-close-x {
    color:white;
    margin-top: -25px;
}
/* :where(.css-dev-only-do-not-override-yp8pcc).ant-modal .ant-modal-footer { */
    /* text-align:; */
    /* background: transparent; */
    /* margin-top: 0px !important; */
/* } */
/* div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu .ant-card-body {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  } */

  .scrolling-wrapper {
    /* overflow-x: scroll; */
    overflow: auto;
    /* overflow-y: hidden; */
    white-space: nowrap;
    /* max-width: 1000px; */
  
}
/* .ant-card {
  display: inline-block;
} */
/* .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  
  }
  .ant-card {
    display: inline-block;
  }
  */
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .keyWordsBtn:hover{
    /* border-color: none !important; */
    border-color:white!important;
    color: black !important;
  }
  div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }