.detailsHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to left,
    rgba(31.5, 31.5, 31.5, 1) calc((50vw - 170px) - 340px),
    rgba(31.5, 31.5, 31.5, 0.84) 50%,
    rgba(31.5, 31.5, 31.5, 0.84) 50%
  ) !important;
  .detailsHeaderCard {
    :global(.ant-card-body) {
      display: none;
    }
  }
  .genresBtns {
    background: linear-gradient(
      to right,
      rgb(230, 226, 226),
      rgba(255, 122, 89, 0)
    );

    color: white;
    font-weight: 700;
    margin-left: 10px;
  }
  .headerContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    h1 {
      font-size: 2em;
      color: white;
    }
    h3 {
      margin-top: 3px;
      font-weight: 100;
      color: white;
    }
    p {
      color: white;
    }
    .childDiv {
      display: flex;
    }
    .overViewText {
      font-size: 2em;
      font-weight: 700;
    }
    .overiewDetailText {
      line-height: 1.9;
      padding-top: 10px;
      font-weight: 100;
    }
    .castName {
      font-size: 1.3em;
      padding-top: 10px;
      font-weight: 500;
    }
    .castTitle {
      font-size: 15px;
      padding-bottom: 10px;
      font-weight: 400;
    }
  }
}
